<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test1">
  <parameter name="Browser" value="chrome"></parameter>
    <classes>
      <class name="com.AdminUser_Execution_Classes.AdminUser_NewWorkOrder_AutomationTesting"/>
    </classes>
    </test> <!-- Test1 -->
    <test name="Test2">
    <classes>
      <class name="com.NurseUser_Execution_Classes.NurseUser_MyWorkOrders_AutoTestingForm1"/>
    </classes>
    </test> <!-- Test2 -->
    <test name="Test3">
    <classes>
      <class name="com.AdminUser_Execution_Classes.AdminUser_ReviewRecords"/>
    </classes>
  </test> <!-- Test3 -->
</suite> <!-- Suite -->
